.img-blog img {
    height: 300px;
    margin: 47px 0;
    border-radius: 4px;
    transition: .4s;
    position: relative;
    transition: .4s;

}
.img-blog img:hover {
    transform: translateY(6px);
    opacity: .4;
}

@media only screen and (max-device-width:991px) {
    .img-blog  {
        text-align: center;
    }

}
@media only screen and (max-device-width:991px) {
    .footer-first-part.mt-5 {
        position: relative;
        right: 37px;
    }

}